body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

input{
    border: 2px solid black !important;
}

input:focus{
    border: none !important;
}