body{
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    height: 620px;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.cell{
    height: 195px;
    width: 195px;
    background-color: rgb(208, 215, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 35px;
    border-radius: 5px;
}

